# Compiler files
cache/
out/

# Broadcast logs
/broadcast/

# Environment
.env
.env.local

# Dependencies
node_modules/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Next.js
.next/
frontend/.next/
